<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>This is Setting Page</title>
</head>
<body>
	<section>

		<div class="container">

			<div class="row">


				<div class="col-md-12">
					<div class="card">

						<div class="card-body">


							<h3 class="mb-3">Change Password</h3>

							<form th:action="@{/user/change-password}" method="post">


								<!-- old password -->

								<div class="form-group mb-3">

									<input name="oldPassword" type="password" class="form-control"
										placeholder="Enter Old Password" required="required" />



								</div>


								<!-- new password -->


								<div class="form-group mb-3">

									<input name="newPassword" type="password" class="form-control"
										placeholder="Enter New Password" required="required" />


								</div>


								<div class="container text-center">

									<button type="submit" class="btn btn-success">Change</button>
									<button type="reset" class="btn btn-warning">Reset</button>

								</div>

							</form>

						</div>
					</div>

				</div>

			</div>

		</div>


		<script type="text/javascript">
			
		    $(document).ready(()=>{
		    	$('.item').removeClass('active');
		    	$('#setting-link').addClass('active');
		    });
		
		</script>


	</section>

</body>
</html>